body {
  background: radial-gradient(#02682e, #000000);
  color: white;
  margin: 0;
  min-height: 100vh;
}

div {
  margin: 1px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

h1 {
  color: goldenrod;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 45px; 
  margin-top: 20px;
}

p {
  text-align: center;
  font-family: "Happy Monkey", system-ui;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}

#start-btn {
  margin-top: 40px;
  width: 220px;
  height: 50px;
  font-size: 18px;
  background-color: goldenrod;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 6px solid rgb(255, 255, 255);
  transition: transform 0.1s;
}

#player-El {
  margin-top: 25px;
}

#start-btn:active {
  background-color: darkgoldenrod;
  transform: translateY(2px);
  border-bottom: 3px solid rgb(255, 255, 255);
}

@media (min-width: 1024px) {
  h1 {
    font-size: 100px;
    margin-top: 40px;
  }

  p {
    font-size: 30px;
  }

  #start-btn {
    width: 250px;
    height: 60px;
    font-size: 20px;
    margin-top: 60px;
  }
}
